.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #56b6dd, #2e54a7);
}

.form-title {
    padding-top: 10px;
    font-size: x-large;
}

.form-fields {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}

.field-transactions-adicional,
.field-transactions,
.field-profile {
    width: 40%;
    height: 100%;
    padding-top: 2%;
}

.field-transactions-adicional,
.field-transactions {
    display: flex;
    flex-direction: column;
}

.field-box {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.field-box input {
    margin: 2% 1%;
    height: 20px;
}

.field-box input:focus {
    background-color: rgb(209, 204, 204);
    border: none;

}

.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-button {
    background-color: #56b6dd;
    border: none;
    width: 20%;
    height: 100%;
    margin: 0 5%;
}

.form-button:hover {
    background-color: #2e54a7;
    transform: scale(1.2);
}

.cyclesCount {
    font-size: x-small;
    border: 3px solid #2e54a7;
    width: 13%;
    padding: 2px;
    margin: 2px 80% 2px;

}

@media (max-width: 900px) {
    .form-title {
        font-size: medium;
    }

    .form-fields {
        font-size: medium;
        flex-direction: column;
    }

    .field-transactions,
    .field-transactions-adicional,
    .field-profile {
        width: 100%;
    }

    .field-box input {
        margin: 1% 0;
    }

    .form-button {
        height: 50%;
        margin: 5%;
    }

}