.tabheader {
    background-color: gray;
    border-top-right-radius: 18px;
    border: 2px solid rgba(20, 20, 20, 0.863);
    padding: 4px;
    font-size: small;
    display: inline;
    opacity: 0.8;
}

.tabheader:hover {
    opacity: 1;
    cursor: grab;
}