@keyframes slideout {
    from {
        transform: translateX(0px);
        display: flex;
        width: 16%;
        height: 100vh;
    }

    to {
        transform: translateX(-280px);
        display: none;
        width: 0%;
        height: 0vh;
    }
}

@keyframes slidein {
    from {
        transform: translateX(-280px);
        display: none;
        width: 0%;
        height: 0vh;
    }

    to {
        transform: translateX(0px);
        display: flex;
        width: 16%;
    }
}

.sidebar,
.sidebar--out {
    animation: 1s forwards;
    background-color: rgb(52, 74, 134);

}

.sidebar {
    animation-name: slidein;
}


.sidebar--out {
    animation-name: slideout;
}

@media (max-width: 1200px) {
    @keyframes slideout {
        from {
            transform: translateX(0px);
            display: flex;
            width: 45%;
            height: 100vh;
        }

        to {
            transform: translateX(-280px);
            display: none;
            width: 0%;
            height: 0vh;
        }
    }

    @keyframes slidein {
        from {
            transform: translateX(-280px);
            display: none;
            width: 0%;
            height: 0vh;
        }

        to {
            transform: translateX(0px);
            display: flex;
            width: 45%;
        }
    }
}

@media (max-width: 900px) {
    @keyframes slideout {
        from {
            transform: translateX(0px);
            display: flex;
            width: 50vw;
            height: 100vh;
        }

        to {
            transform: translateX(-280px);
            display: none;
            width: 0vw;
            height: 0vh;
        }
    }

    @keyframes slidein {
        from {
            transform: translateX(-280px);
            display: none;
            width: 0vw;
            height: 0vh;
        }

        to {
            transform: translateX(0px);
            display: flex;
            width: 50vh;
        }
    }
}