.enter {
    width: 60%;
    height: 50%;
    margin: 15% auto;
}

.enter-button {
    height: 20px;
    margin: 0 5%;
    background-color: #56b6dd;
    border: none;
}

.enter-button:hover {
    background-color: #2e54a7;
    transform: scale(1.2);
}