.service-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    height: 100%;
}

.title-container {
    display: flex;
    align-items: center;
    margin-left: 4.7%;
}

.title-container h2 {
    font-size: 38px;
    margin: 0 7px 0 0;
}

.title-container h3 {
    opacity: 0.7;
    font-weight: 300;
}

.service-content {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

@media (max-width: 900px) {
    .service-content {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .title-container h2 {
        font-size: 24px;
        margin: 0 7px 0 0;
    }

    .title-container h3 {
        opacity: 0.9;
        font-weight: 300;
        font-size: 14px;
    }

}