.header-container {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #6495ED;
    height: 8vh;
}

.main-header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #4a78cf;
    width: 16%;
}

.main-header--hide {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #4a78cf;
    padding-left: 2%;
    width: 10%;
}


.logo,
.logo a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    text-decoration: none;
    margin: 0 30px 0 0;
    padding: 2px 0 0 0;
}

.logo span {
    color: black;
}

.toggle {
    border: none;
    background-color: #6495ED;
}

@media (max-width: 1200px) {
    .main-header {
        width: 30%;
    }
}

@media (max-width: 900px) {
    .header-container {
        height: 12vh;
        display: flex;
        align-items: center;
        justify-content: start;
        background-color: #6495ED;
    }

    .main-header {
        width: 40.8%;
        justify-content: space-around;
        justify-content: start;
    }

    .main-header--hide {
        width: 30%;
        justify-content: start;
    }


}