.App {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 237, 237);

}

.main {
  display: flex;
  height: 90vh;
  width: 100%;
}

.content {
  margin: 3%;
  flex-grow: 1;
}

body {
  font-weight: 500;
}

@media (max-width: 900px) {
  .content {
    width: 55%;
  }
}