.menu-item {
    font-size: medium;
}

.menu-item div {
    display: flex;
}

.menu-item a,
.submenu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.menu-item {
    justify-content: flex-start;
}

.menu-item a {
    width: 100%;
}

.menu-item img {
    width: 11%;
    padding: 0 10px;
}

.submenu {
    padding: 1% 0 2%;
}

@media (max-width: 900px) {
    .menu-item {
        font-size: small;
        margin-top: 10px;
        line-height: 70%;
    }

    .submenu {
        padding: 5%;
    }
}