.userbox-container {
    margin-left: 60%;
    font-size: x-small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #56b6dd;
    padding: 0 3%;
}

.perfil-name {
    font-size: small;
    margin: 5%;
}

.button-logout {
    background-color: #56b6dd;
    border: none;
    margin: 5%;
}

.button-logout:hover {
    background-color: #2e54a7;
    transform: scale(1.2);
}

@media (max-width: 900px) {
    .userbox-container {
        margin-left: 10%;
        font-size: xx-small;
        height: 100%;
        border: none;
    }
}