.header-container {
    height: 7.4vh;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #6495ED;
}

.main-header {
    padding: 4px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #4a78cf;
    width: 16%;
}

.main-header--hide {
    padding: 4px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #4a78cf;
    padding-left: 2%;
    width: 10%;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    text-decoration: none;
    margin: 0 30px 0 0;
}

.logo span {
    color: black;
}

.toggle {
    border: none;
    background-color: #6495ED;
}

@media (max-width: 1200px) {
    .main-header {
        width: 30%;
    }
}

@media (max-width: 900px) {

    .main-header {
        width: 40.8%;
        justify-content: space-around;
        justify-content: start;
    }

    .main-header--hide {
        width: 30%;
        justify-content: start;
    }


}